# Dataset preprocessing

### Imports

In [1]:
import numpy as np
import pandas as pd

## Import dataset

Our dataset consists of anonymized IPs and their network behaviour. Each hash has a label which assigns it to a particular "unit" within network.

In [2]:
src = 'aggregated_dataset_no_weekend-annon.csv'
df = pd.read_csv(src, header=[0,1,2])
df.head()

/home/smeriga/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (649,650,651) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

          mean                                       ...     max              \
  FlowDuration                                       ...   Bytes
            00  01  02  03  04  05  06  07  08  09   ...      18  19      20
0          NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN   ...     NaN NaN  1500.0
1          NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN   ...     NaN NaN     NaN
2          NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN   ...     NaN NaN     NaN
3          NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN   ...     NaN NaN     NaN
4          NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN   ...     NaN NaN     NaN

                           Label
                           Label
   21      22  23 anon_net_range addr_range unit subunit
0 NaN  1500.0 NaN            NaN        NaN  NaN     NaN
1 NaN     NaN NaN            NaN        NaN  NaN     NaN
2 NaN     NaN NaN            NaN        NaN  NaN     NaN
3 NaN     NaN NaN            NaN        NaN  NaN     NaN
4 NaN     NaN NaN            NaN        NaN  NaN     NaN

[5 rows x 652 columns]

## Dataset overview

In [3]:
df.shape

(65536, 652)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65536 entries, 0 to 65535
Columns: 652 entries, (mean, FlowDuration, 00) to (Label, Label, subunit)
dtypes: float64(649), object(3)
memory usage: 326.0+ MB

In [5]:
df.columns

MultiIndex(levels=[['Label', 'max', 'mean', 'min'], ['Bytes', 'Distinct-AS-numbers', 'Distinct-Country', 'Distinct-Peers', 'Distinct-Ports', 'Distinct-Protocols', 'FlowDuration', 'Flows', 'Label', 'Packets'], ['00', '01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', 'addr_range', 'anon_net_range', 'subunit', 'unit']],
           labels=[[2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0], [6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 8, 8, 8, 8], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 25, 24, 27, 26]])

In [6]:
df['mean'].columns

MultiIndex(levels=[['Bytes', 'Distinct-AS-numbers', 'Distinct-Country', 'Distinct-Peers', 'Distinct-Ports', 'Distinct-Protocols', 'FlowDuration', 'Flows', 'Label', 'Packets'], ['00', '01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', 'addr_range', 'anon_net_range', 'subunit', 'unit']],
           labels=[[6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23]])

In [7]:
df['mean', 'FlowDuration'].columns

/home/smeriga/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:2819: PerformanceWarning: indexing past lexsort depth may impact performance.
  raw_cell, store_history, silent, shell_futures)

Index(['00', '01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11',
       '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23'],
      dtype='object')

## Cleanup the dataset

In [8]:
df['mean'].dtypes

FlowDuration         00    float64
                     01    float64
                     02    float64
                     03    float64
                     04    float64
                     05    float64
                     06    float64
                     07    float64
                     08    float64
                     09    float64
                     10    float64
                     11    float64
                     12    float64
                     13    float64
                     14    float64
                     15    float64
                     16    float64
                     17    float64
                     18    float64
                     19    float64
                     20    float64
                     21    float64
                     22    float64
                     23    float64
Distinct-Peers       00    float64
                     01    float64
                     02    float64
                     03    float64
                     04    float64
                     05    float64
                            ...
Distinct-AS-numbers  18    float64
                     19    float64
                     20    float64
                     21    float64
                     22    float64
                     23    float64
Bytes                00    float64
                     01    float64
                     02    float64
                     03    float64
                     04    float64
                     05    float64
                     06    float64
                     07    float64
                     08    float64
                     09    float64
                     10    float64
                     11    float64
                     12    float64
                     13    float64
                     14    float64
                     15    float64
                     16    float64
                     17    float64
                     18    float64
                     19    float64
                     20    float64
                     21    float64
                     22    float64
                     23    float64
Length: 216, dtype: object

#### Drop rows with all NaN rows

In [9]:
df.shape

(65536, 652)

In [10]:
df = df.dropna(how='all')
df.shape

(59539, 652)

### Drop rows which are labelled incorrectly

In [11]:
df['Label','Label'].columns

Index(['anon_net_range', 'addr_range', 'unit', 'subunit'], dtype='object')

In [12]:
na_addr = df[df['Label','Label','addr_range'].isna()].shape[0]
na_addr

19

In [13]:
na_unit = df[df['Label','Label','unit'].isna()].shape[0]
na_unit

19

In [14]:
df = df.dropna(subset=[('Label', 'Label', 'addr_range'),('Label', 'Label', 'unit')])
df.shape

(59520, 652)

### Drop rows with no network activity

In [15]:
df = df.dropna(subset = list(df.columns)[:-4], how='all')
df.shape

(31508, 652)

### correct units with 'teiresias', should be 'Teiresias' (refers to the same unit)

We have rows with label 'teiresias' we change them to 'Teiresias' otherwise they would be mapped to 2 different units, which would be incorrect.

In [16]:
df['Label', 'Label', 'unit'].unique()

array(['UVT', 'UKB', 'RMU', 'CESNET', 'FSpS', 'LF', 'PrirF', 'IBA',
       'teiresias', 'Teiresias', 'Telc', 'FI', 'FIeduroamnaFI', 'FSS',
       'PravF', 'FF', 'CEITEC', 'VPN', 'FNBrno', 'SKM', 'CTT', 'ESF',
       'PedF'], dtype=object)

In [17]:
df['Label', 'Label', 'unit'] = df['Label', 'Label', 'unit'].apply(lambda x: 'Teiresias' if x == 'teiresias' else x)
df['Label', 'Label', 'unit'].unique()

array(['UVT', 'UKB', 'RMU', 'CESNET', 'FSpS', 'LF', 'PrirF', 'IBA',
       'Teiresias', 'Telc', 'FI', 'FIeduroamnaFI', 'FSS', 'PravF', 'FF',
       'CEITEC', 'VPN', 'FNBrno', 'SKM', 'CTT', 'ESF', 'PedF'],
      dtype=object)

### Cleanup the index

In [18]:
df = df.reset_index(drop=True)

### Fill NaN values

In [19]:
df = df.fillna(value=0)

### Remove outliers

We will discard outliers. We define host as an outlier if any of his feature values at any given value is not in the .95 quantile.

In [20]:
df.shape

(31508, 652)

In [21]:
for col in df.columns.get_level_values(0).drop_duplicates():
    if col == 'Label':
        break
    out = df.loc(axis=1)[col, :, :].quantile(.95)
    df = df[(df.loc(axis=1)[col, :, :] < out).any(axis=1)]
df.shape

(31501, 652)

###  Scale features and assign numerical label to units

Scaling is necessary for multiple ML and clustering methods to work properly as well as numerical labels for units

In [22]:
from sklearn.preprocessing import StandardScaler, LabelEncoder

In [23]:
scaled = StandardScaler().fit_transform(df.drop(df.loc(axis=1)['Label',:].columns, axis=1))
scaled_df = pd.DataFrame(data=scaled, columns=df.loc(axis=1)[['mean', 'max', 'min'], :,:].columns, index=df.index)
df.update(scaled_df)

In [24]:
df['Unit_encoding'] = LabelEncoder().fit_transform(df['Label', 'Label','unit'].astype(str))
df.head()

          mean                                                              \
  FlowDuration
            00        01        02        03        04        05        06
0    -0.010075 -0.011899 -0.011080 -0.008082 -0.013610 -0.009919 -0.009839
1    -0.007491 -0.005755 -0.008916 -0.006318 -0.012004 -0.007014 -0.006875
2    -0.010075 -0.011899 -0.011080 -0.008082 -0.013610 -0.009919 -0.009839
3    -0.010075 -0.011899 -0.011080 -0.008082 -0.013610 -0.009919 -0.009702
4    -0.007494 -0.005762 -0.008920 -0.006337 -0.012023 -0.006979 -0.006933

                                     ...            max                      \
                                     ...          Bytes
         07        08        09      ...             19        20        21
0 -0.014341 -0.011996 -0.014402      ...      -0.015291 -0.014971 -0.016604
1 -0.012524 -0.009454 -0.011688      ...      -0.015272 -0.014951 -0.016588
2 -0.013046 -0.009527 -0.011701      ...      -0.015291 -0.014971 -0.016604
3 -0.012816 -0.009726 -0.012442      ...      -0.015218 -0.014914 -0.016604
4 -0.012532 -0.009452 -0.011691      ...      -0.015270 -0.014933 -0.016579

                               Label  \
                               Label
         22        23 anon_net_range
0 -0.016766 -0.016320           26.0
1 -0.016749 -0.016304           26.0
2 -0.016766 -0.016320           26.0
3 -0.016766 -0.016320           26.0
4 -0.016739 -0.016297           26.0

                                                           \

                                          addr_range unit
0  ec53ecd75327bafb5534fc04eb3b7f41cac0cd7664a19f...  UVT
1  7408e51607e13c73bda262bcec8a9a125a8fd13407bfbe...  UVT
2  a4ad915be80ba3536c409f3181298b3f86c57cd3db64fc...  UVT
3  ce6015ad550d384fc556b815893909f016d19aa988107f...  UVT
4  25b945e7272206d17fe1371826ae7e9b01b7b9a1fe09e9...  UVT

                            Unit_encoding

                    subunit
0   pracovni sit pro sitare            20
1   pracovni sit pro sitare            20
2   pracovni sit pro sitare            20
3   pracovni sit pro sitare            20
4   pracovni sit pro sitare            20

[5 rows x 653 columns]

### Pickle the dataset, makes importing the preprocessed dataset in the analyses easy

In [25]:
df.to_pickle('extended_dataset_preprocessed.pkl')